.nav{
    display: grid;
    grid-template-columns: 80px 80px 123px 80px 120px 10px ;
    align-items: center;
     
}
li{
    display: inline;
    padding: 20px;
    
}
li,.aa{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
   
     
}
.flex{
    display: grid;
    grid-template-columns: 500px 30px;
    background-color: rgb(0,0,0,0.3);
    border-radius: 20px;
    margin-left: 10px;
    margin-right:10px;
    border: solid,transparent;
    color: white;
    align-items: center;
    
     
}
.logo{
    display:grid;
    grid-template-columns: 130px 1px;
    text-align: center;
    align-items: center;
    font-size: larger;
}
.whole{
    background-color: bisque;
    padding: 20px;
    background-image: url(assets/ff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family:sans-serif;
    font-style:bold;
    height: 540px;
    text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
    
}
.ima{
    filter:brightness(0) invert(1);
    height: 80px;
}
.bug{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 11px ;
    border-radius: 35px;
    color: white;
    background-color:#d17436;
    margin-left: 10px;
    transition: all 0.3s ease;

}
.bug:hover{
    background-color: #b85c28;
    transform: scale(1.05);
}
.buu{
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    width: 105px;
    padding: 10px ;
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    
} 
h1{
    font-size: 3rem;
    font-weight: bold;
}
.aa:hover{
    color:#d67236;
    transform: scale(1.1);
}
.buu:hover{
    border:#d67236;
    color:#d67236;
    transform: scale(1.1);
}
.Cafe{
    line-height: 10px;
    color: white;
    padding: 6px;
    text-align: center;
    position: relative;
    margin-left: 45px;
    margin-top: 30px;
}
.store{
    display: inline-block;
    position: relative;
    padding: 70px;
    margin-left: 380px;
    text-align: center;
}
.rotating-box{
    width: 330px;
    height: 300px;
    background-color: rgb(0,0,0,0.4);
    border-radius: 30px;
    backdrop-filter: 20px;
    position: absolute;
    text-align: center;
    animation: rotateBox 5s linear infinite;

}
@keyframes rotateBox{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
.omg {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      padding: 20px;
      background-color:rgb(53, 36, 14);
      height: 550px;
}
    .box {
      position: relative;
      width: 240px;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
      margin-top: 50px;
      }

    .box:hover {
      transform: scale(1.1);
  
    }
    
    .box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    .box1 {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 10px;
      text-align: center;
      line-height: 10px;
      font-family: sans-serif;
    }
    .pp{
        background-color:#d17436;
        color: white;
        border: none;
        border-radius: 20px;
        font-family: 'Arial Narrow Bold', sans-serif;
        margin-left: 10px;
        height: 23px;
        transition: all 0.3s ease;

}
.pp:hover{
    background-color:#b85c28;
    transform: scale(1.05);
}
.btw{
  background-color:rgb(53, 36, 14); 
  text-align: center;
  color: white;
  height: 30px;
  font-family:sans-serif;
  line-height: 10px;
  padding: 40px;
  justify-content: center;
}

 .flow {
  display: flex;
  gap: 60px; 
  background: url('assets/ff.jpg') no-repeat center center/cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
  color: rgb(255,255,255);
  
}

.what {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 25px;
  width: 300px;
  backdrop-filter: blur(10px);
  transition: transform 0.4s ease, box-shadow 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.what:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}

.what h2 {
  font-size: 26px; 
  margin-bottom: 10px;
}

.what p {
  font-size: 18px;
}

.loss {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.loss1 p,
.loss2 p {
   margin-bottom: 16px;
  font-size: 17px;
  transition: color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 8px;
  display: flex;              
  justify-content: space-between; 
  align-items: center;
  
}

.cc {
   background-color:rgb(219, 118, 17) ;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
  
}

.cc:hover{
    background-color:#b85c28;
    transform: scale(1.05);}
.form{
  gap: 10px;
  padding: 20px;
  margin: 10px;
}
.new{
  background-image: url(assets/ttt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 700px;
  color: white;
  padding :10px;
  align-items: center;
  line-height: 10px;

  
}
.ig{
  margin: 10px;
  margin-top: 10px;
  padding: 20px;
  line-height: 10px;
  font-family: sans-serif;
  height: 65px;
}
  .kit{
    background-color: rgb(219, 118, 17);
    border-radius:50px ;
    color:white;
    width: 200px;
    margin-left:180px;
    height: 50px;
    font-family: sans-serif;
    font-size: large;
    margin-top: -20px;
    }
  input{
      width:250px;
      height: 30px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255,0.2);
      border: none;
      color: white;
      padding: 10px;
      box-shadow: 0 0 5px (255,255,255,0.2);

    }
    .hi{
      display: flex;
      gap: 20px;
      
    }
    .form{
      color: whitesmoke;
      font-family: sans-serif;
    }
    textarea{
      width: 550px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255,0.2);
      border:none;
      color: white;
      padding: 10px;
      box-shadow: 0 0 5px (255,255,255,0.2);
      font-family: sans-serif;
      font-size: large;
    }
    ::placeholder{
      color:white;
      font-size: large;
    }
    .kit:hover{
      background-color: #b85c28;
      cursor: pointer;

    }
    .finish{
      display: flex;
      gap: 50px;
      height: 300px;
      background-color: peru;
    }
    .one{
      margin-left: 40px;
      padding: 50px;
      color: white;
      font-family: sans-serif;
      line-height: 30px;
    }
    .log{
      display: flex;
      gap: 20px;
    }
    .line{
      display: flex;
      gap: 20px;
    }
    .ii{
        margin-right: 6px ;
        color: yellow;
    }
    .car{
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: rgb(255,255,255);
        margin-bottom: 20px;
         text-align: center
    }
